{% extends '_base.html.twig' %}

{% block pageTitle %} Add Members {% endblock %}

{% block nav %}
    {% embed "navBar.html.twig" %}
    {% endembed %}
{% endblock %}

{% block main %}
    <h3 class="info"> Add Members to the Project - {{ project.name }}</h3>

    {% if message is defined %}<p class="error"> {{ message }}</p>{% endif %}

    <form action = '/addMember' method="post">
        <table class="noBorder" align="center">
            <tr>
                <th><label for="user"> Select Member: </label></th>
                 <td>
                    <select name="user" id="user">
                    {% for user in users %}
                        {% if user.type == 'user' %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="role">Select Role: </label></th>
                <td>
                    <select name="role" id="role">
                    {% for role in roles %}
                        {% if role.role != 'Project Leader' and role.role != 'Project Secretary' %}
                            <option value="{{ role.id }}">{{ role.role }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="projectID" value="{{ project.id }}">
                    <input type="submit" name="submit" value="Add">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
