{% extends '_base.html.twig' %}

{% block pageTitle %} Create New Project {% endblock %}

{% block nav %}
    {% embed "navBar.html.twig" %}
    {% endembed %}
{% endblock %}

{% block main %}
    <h1 class="info"> Create a New Project </h1>

    {% if message is defined %}
        <p class="error">{{ message }}</p>
    {% endif %}

    <form action="/newProject" method="post">
        <table class="noBorder" align="center">
            <tr>
                <th><label for="name">Project Name: </label></th>
                <td><input type="text" name="name" id="name" required></td>
            </tr>
            <tr>
                <th><label for="leader">Project Leader : </label></th>
                <td>
                    <select name="leader" id="leader" required>
                        {% for user in listOfUsers %}
                            {% if user.type == 'user' %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="secretary">Project Secretary : </label></th>
                <td>
                    <select name="secretary" id="secretary" required>
                        {% for user in listOfUsers %}
                            {% if user.type == 'user' %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="Create"></td>
            </tr>
        </table>
    </form>

{% endblock %}
