{% extends '_base.html.twig' %}

{% block pageTitle %} Meeting Details {% endblock %}

{% block nav %}
    {% embed "navBar.html.twig" %}
    {% endembed %}
{% endblock %}

{% block main %}
    <h3 class="info">Viewing Meeting For Project - {{ project.name }}</h3>

    <table align="center">
        <tr>
            <td colspan="2" align="center">{{ meeting.id }}</td>
        </tr>
        <tr>
            <th>Meeting Chair: </th>
            <td>{{ meeting.chair }}</td>
        </tr>
        <tr>
            <th>Meeting Secretary: </th>
            <td>{{ meeting.secretary }}</td>
        </tr>
        <tr>
            <th>Meeting Time: </th>
            <td>{{ meeting.time }}</td>
        </tr>
        <tr>
            <th> Meeting Room: </th>
            <td>{{ meeting.room }}</td>
        </tr>
        <tr>
            <th> Attendance Percentage: </th>
            <td>{{ attendancePercentage }}%</td>
        </tr>
    </table>

    {% if type != 'admin' %}
    <p class="info"> Your Attendance is: {{ attendance }}</p>

        {% if attendance != 'Yes' %}
            <form action="/changeAttendance" method="post">
                <table class="noBorder" align="center">
                    <tr>
                        <th><label for="yes">Yes</label></th>
                        <td><input type="radio" name="attendance" id="yes" value="Yes"></td>
                    </tr>
                {% if attendance != 'No' %}
                    <tr>
                        <th><label for="no">No</label></th>
                        <td><input type="radio" name="attendance" id="no" value="No"></td>
                    </tr>
                {% endif %}
                {% if attendance != 'Maybe' %}
                    <tr>
                        <th><label for="maybe">Maybe</label></th>
                        <td><input type="radio" name="attendance" id="maybe" value="Maybe"></td>
                    </tr>
                {% endif %}
                    <tr>
                        <td colspan="2" align="center">
                            <input type="hidden" name="userID" value="{{ id }}">
                            <input type="hidden" name="projectID" value="{{ project.id }}">
                            <input type="hidden" name="meetingID" value="{{ meeting.id }}">
                            <input type="submit" name="submit" value="Change">
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}